<form method="post" action="/articles">
  <label for="player_name">Player Name</label>
  <input type="text" id="player_name" name="player_name">
  <label for="campaign">Campaign</label>
  <input type="text" id="campaign" name="campaign">
  <label for="character_name">Character Name</label>
  <input type="text" id="character_name" name="character_name">
  <label for="character_class">Character Class</label>
  <input type="text" id="character_class" name="character_class">
  <label for="armor_class">Armor Class</label>
  <input type="text" id="armor_class" name="armor_class">
  <label for="perception">Passive Perception</label>
  <input type="text" id="perception" name="perception">
  <label for="investigation">Passive Investigation</label>
  <input type="text" id="investigation" name="investigation">
  <label for="insight">Passive Insight</label>
  <input type="text" id="insight" name="insight">
  <label for="spell_save_dc">Spell Save DC</label>
  <input type="text" id="spell_save_dc" name="spell_save_dc">
  <input type="submit" value="submit">
</form>