<body>

<style>
  .bordered {
    width: 400px;
    height: 160px;
    padding: 20px;
    border: 10px groove grey;
    background: white;
  }
</style>

<center><div class="bordered">This tool was designed to make managing a dungeon master's characters easier. It allows a user to create a character, which in turns lets any user view those characters. Only a user may edit or delete their own character. This allows a dungeon master to view all of their player's characters and allows players to update their characters as they change stats.</div></center>

<center><p></p><a href="/signup">Sign Up</a>
<p><a href="/login">Log In</a></p></center>
</body>